fastapi
uvicorn[standard]
pydantic[email]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pymongo
redis
requests
httpx
python-multipart
slowapi[redis]
google-auth
crewai
langchain-groq
litellm
bcrypt
cryptography
motor
razorpay
psutil
argon2-cffi