fastapi
uvicorn[standard]
setuptools<70.0.0
pydantic[email]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pymongo
redis>=4.0.0
requests
httpx
python-multipart
slowapi[redis]
limits[redis]
google-auth
crewai
langchain-groq
litellm
bcrypt
cryptography
motor
razorpay
psutil
argon2-cffi